# Python virtual environments
venv/
.venv/
.idea/
ENV/
env/
env.bak/
venv.bak/
.Python
pip-wheel-metadata/
pip-delete-this-directory.txt
include/
lib64/
__pycache__/
lib/

# byte-compiled / caches (useful to ignore with venvs)
__pycache__/
*.py[cod]
*$py.class